
@import url(slate/stylesheets/stylesheet.css);

#toplink
{
	position: absolute;
	display: block;
	bottom: -40px;
	right: 0;
	width: 30px;
	height:30px;
	z-index: 10;
	text-indent: -5000px;
	overflow: hidden;
	background: url('top.png') no-repeat 0% 90%;
}

#buildstatus
{
	position: absolute;
	display: block;
	bottom: -40px;
	right: 0;
	width: 100px;
	height:30px;
	z-index: 10;
	text-indent: -5000px;
	overflow: hidden;
	background: url('https://travis-ci.org/exedio/persistence.svg?branch=master') no-repeat 0% 90%;
}

a.validhtml
{
	display:block;
	float:right;
	border:solid #373737 1px;
	padding:0 0.2em;
	color:#373737;
	text-decoration:none;
	font-size:small;
}

h3 a
{
	color:#222;
}
